.hero_bnr {
  display: flex;

  justify-content: center;
}

.hero_bnr img {
  position: fixed;
  width: 100%;
  height: auto;
  object-fit: cover;
  /* filter: blur(
    3px
  );  */
}

.hero_bnr h1 {
  display: flex;
  z-index: 100;
  margin-top: 200px;
  color: bisque;
}
