main {
  height: 100vh;
  background-image: url("../assets/milky-way-5295160_1920.jpg");
  background-size: cover;
  background-position: center;
}

.hero_bnr {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero_bnr h1 {
  z-index: 100;
  font-size: 100px;
  color: #2d2f59;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #7672f2,
    0 0 30px #0902ec, 0 0 40px #72d0f274, 0 0 55px #141170, 0 0 75px #1008f8;
  margin: 0;
}
