#contact-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#contact h2 {
  text-align: center;
  margin-top: 40px;
  color: #ffbf00;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

#message {
  resize: none;
  height: 150px;
}

#email,
#message {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: #ffbf00;
}

.label {
  color: #ffbf00;
}

.submit {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
