footer {
  background: #ffbf00;
}

footer ul {
  display: flex;
}

footer li {
  list-style: none;
  padding: 20px;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #5350a8;
}
