footer {
  background: #ffbf00;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

footer li {
  list-style: none;
  margin-right: 20px;
}

.footer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #5350a8;
}

.dark-mode {
  background: #333; /* Couleur de fond sombre */
  color: #fff; /* Couleur du texte clair */
}
