.btn_switcher {
  display: flex;
}

.btn_switch {
  border-radius: 20px;
  background-color: #5350a8;
  border: 1px solid #ffbf00;
  margin: 5px;

  height: 40px; /* Ajout de cette propriété */
  color: #ffbf00;
  transition: 0.3s;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_switch img {
  object-fit: cover;
  width: 100%;
  height: 100%; /* Ajout de cette propriété */
  border-radius: 20px;
}

.btn_switch:hover {
  background-color: #ffbf00;
  color: #5350a8;
}

@media only screen and (max-width: 475px) {
  .btn_switch {
    width: 20px;
    height: 20px; /* Ajout de cette propriété */
    font-size: 13px;
  }
}
