.btn_switcher {
  display: flex;
}

.btn_switch {
  border-radius: 20px;
  background-color: #5350a8;
  border: 1px solid #ffbf00;
  margin: 5px;
  width: 60px;
  height: 40px;
  color: #ffbf00;
  transition: 0.3s all ease-in-out;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn_switch img {
  object-fit: cover;
  width: 100%;
  height: 100%; /* Ajout de cette propriété */
  border-radius: 20px;
}

.btn_switch:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  opacity: 0.8;
}

@media only screen and (max-width: 475px) {
  .btn_switch {
    width: 20px;
    height: 20px; /* Ajout de cette propriété */
    font-size: 13px;
  }
}
