.btn_switcher {
  display: flex;
}

.btn_switch {
  border-radius: 20px;
  background-color: #5350a8;
  border: 1px solid #ffbf00;
  margin: 5px;
  width: 40px;
  color: #ffbf00;
  transition: 0.3s;
  text-align: center;
}

.btn_switch:hover {
  background-color: #ffbf00;
  color: #5350a8;
}

@media only screen and (max-width: 425px) {
  .btn_switch {
    width: 30px;
    font-size: 13px;
  }
}
