.skills {
  background-color: #5350a8;
  color: #ffbf00;
  padding: 70px;
}

.incoming {
  margin-top: 50px;
  font-weight: bold;
}

.skill {
  transition: all 0.2s ease-in-out;
}

#skill-title {
  font-weight: bold;
}

.skill:hover {
  transform: scale(1.1);
}

.resume {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media only screen and (max-width: 1024px) {
  .skills {
    padding: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .skills {
    padding: 10px;
  }
  #skill-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
