.skills {
  background-color: #5350a8;
  color: #ffbf00;
  padding: 55px;
}

.incoming {
  margin-top: 50px;
}

.skill {
  transition: all 0.2s ease-in-out;
}

.skill:hover {
  transform: scale(1.1);
}
